body, td {
        font-family: sans-serif;
        background-color: white;
        font-size: 13px;
}

body {
        max-width: 800px;
        margin: auto;
        margin-left:25%;
        line-height: 20px;
        padding: 1em;
        line-height: 20px;
        overflow:auto
}

tt, code, pre {
        font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

h1 {
        font-size:2.2em;
        background-color:#fdfbd4;
}

h2 {
        font-size:1.8em;
        background-color:#e6fcfc;
}

h3 {
        font-size:1.4em;
}

h4 {
        font-size:1.0em;
}

h5 {
        font-size:0.9em;
}

h6 {
        font-size:0.8em;
}

a:visited {
        color: rgb(50%, 0%, 50%);
}

/* pre, img {
   max-width: 100%;
   } */
pre {
        max-width: 100%;
        overflow-x: auto;
}
pre code {
        display: block; padding: 0.5em;
}

code {
        font-size: 92%;
        border: 1px solid #ccc;
}

code[class] {
        background-color: #F8F8F8;
}

table, td, th {
        border: none;
}

blockquote {
        color:#666666;
        margin:0;
        padding-left: 1em;
        border-left: 0.5em #EEE solid;
}

hr {
        height: 0px;
        border-bottom: none;
        border-top-width: thin;
        border-top-style: dotted;
        border-top-color: #999999;
}

#TOC {
        position: fixed;
        left: 0;
        top: 0;
        width: 25%;
        min-width: 150px;
        height: 100%;
        overflow:auto;
}

p > em, li > em, td > em {
        color: #FF0000;
        font-weight: bold;
}

@media print {
        * {
                background: transparent !important;
                color: black !important;
                filter:none !important;
                -ms-filter: none !important;
        }

        body {
                font-size:12pt;
                max-width:100%;
        }

        a, a:visited {
                text-decoration: underline;
        }

        hr {
                visibility: hidden;
                page-break-before: always;
        }

        pre, blockquote {
                padding-right: 1em;
                page-break-inside: avoid;
        }

        tr, img {
                page-break-inside: avoid;
        }

        img {
                max-width: none !important;
        }

        @page :left {
                margin: 15mm 20mm 15mm 10mm;
        }

        @page :right {
                margin: 15mm 10mm 15mm 20mm;
        }

        p, h2, h3 {
                orphans: 3; widows: 3;
        }

        h2, h3 {
                page-break-after: avoid;
        }
}
